DynShapeSpawnMenu {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 15px;
    opacity: 1;
  }

  .canvas {
    overflow: scroll;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-between;
    margin: 10px;
    border-radius: 5px;

    .cell {
      padding: 2px;
      margin-bottom: 6px;
      border-radius: 16px;
      color: rgba(#fff, 0.5);
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-color: rgba(black, 0.1);
      background-image: none;

      .icon {
        padding: 2px;
        border-radius: 16px;
        color: #fff;
        line-height: 10px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        background-color: rgba(black, 0.1);
        background-image: url(/entity/spawnicon.png);
      }

      label {
        font-size: 12px;
        pointer-events: none;
      }

      &:hover {
        color: #fff;
        background-color: rgba(black, 0.4);
      }
    }
  }

  .spawnicon {
    border-radius: 8px;
    color: rgba( #fff, 0.5 );
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
    background-color: rgba(black, 0.0);
    background-image: url( /entity/spawnicon.png );

    &:hover {
      color: #fff;
      background-color: rgba(black, 0.1);
    }
  }

  .dimensions-container .header {
    min-width: 80px;
  }

  .input-container {
    padding: 10px;
    flex-direction: column;
    flex-grow: 1;

    label {
      color: rgba(#fff, 0.5);
      font-size: 14px;

      &.header {
        align-items: center;
        margin-top: 20px;
        margin-right: 10px;
      }

      &.input-label {
        margin-left: 8px;
      }
    }

    button {
      align-items: center;
      justify-content: center;
      pointer-events: all;
      background-color: rgba(black, 0.7);
      border-radius: 8px;
      min-width: 160px;
      margin: 32px 0 8px 8px;
      padding: 10px;

      &:hover {
        background-color: rgba(black, 0.9);
        cursor: pointer;
      }
    }
  }
}