@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@inherits Panel;
@namespace SandboxPlus.UI.GameMenu

@if ( Game.Menu.Lobby == null )
    return;

<root style="flex-direction: column; flex-shrink: 1; flex-grow: 1;">

    <div class="navbar">

        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <a class="button" href="/lobby"> Create A Game </a>
            <span class="block">&gt;</span>
            <span class="block">Addon Select</span>
        </div>
 
        <div class="right">
        </div>
    </div>

    <AddonPackageList
        ShowFilters="@true"
        style="padding-bottom: 50px;"
        OnSelected="@OnPackageSelected"
        Take=@(50)
    />

</root>

@code
{
    void OnPackageSelected( Package package )
    {
        if (!Game.Menu.Lobby.Addons.Contains(package.FullIdent))
        {
            Game.Menu.Lobby.Addons = Game.Menu.Lobby.Addons.Add(package.FullIdent);
        }
        this.Navigate( "/lobby" );
    }
}
