

.package-list
{
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}

.columned .nav
{
    width: 200px;
    flex-direction: column;
    padding: 10px;
}

.columned .contents
{
    flex-grow: 1;
    padding: 10px;
}

.columned .nav .button
{
    background-color: rgba( white, 0.01 );
    color: rgba( white, 0.9 );
    padding: 10px;
    border-radius: 4px;
    font-weight: normal;
    cursor: pointer;

    &:hover
    {
        background-color: $blue;
        color: white;
    }

    &:active
    {
        background-color: $blue;
        color: white;
        transform: scale( 0.97 );
    }
}
